<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

<body>
  <!-- Carousel -->
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/imgs/home.jpg" class="d-block w-100" alt="Slide 1">
        <div class="carousel-caption d-none d-md-block">
          <h1>Os melhores Filmes em um só lugar!</h1>
          <p>Um catálogo imenso e bem estruturado, você só encontra aqui!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/imgs/cadastro.jpg" class="d-block w-100" alt="Slide 2">
        <div class="carousel-caption d-none d-md-block">
          <h1>Cadastre seu Filme!</h1>
          <p>Faça com que seu Filme apareça em destaque na nossa página.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>

  <!-- Lista de Filmes -->
  <div class="container mt-5">
    <h2 class="text-center">Filmes Cadastrados</h2>
    <div class="row">
      <% filmes.forEach(filme => { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="/uploads/<%= filme.file %>" class="card-img-top img-thumbnail" alt="<%= filme.titulo %>">
            <div class="card-body">
              <h5 class="card-title"><%= filme.titulo %></h5>
              <p class="card-text">Ano: <%= filme.ano %></p>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
    <div class="text-center mt-4">
      <a href="/cadastros" class="btn btn-primary">Cadastrar Novo Filme</a>
    </div>
  </div>

</body>

<%- include('partials/footer.ejs') %>
